.mainCont {
  /* background-color: rgb(207, 206, 207); */
  width: auto;
  margin-left: 50px;
  padding-left: 20px;
  border-left: 3px solid black;
  padding-top: 30px;
}
.topInfo {
  display: flex;
}

.options {
  display: flex;
  color: grey;
  align-items: center;
}
h3 {
  margin-top: 0;
  margin-right: 5px;
  cursor: pointer;
}
.topInfo > p,
.options > p {
  margin-right: 10px;
  margin-top: 0;
  cursor: pointer;
}
